// COLORS

$bg--darker: #0f0f0f;
$bg: #161717;
$bg--transparent: #25282875;
$bg-secondary: #252828;
$primary: #ffffff;
$accent: #ff9f45;
$secondary: #a09eaba1;
$warning: #fd5873;
$bg--warning: rgba(255, 75, 69, 0.1);
$bg--accent: rgba(255, 159, 69, 0.2);

// FONTS

$landing-title-size: 250px;
$code-size: 0.8rem;
$text-size: 1rem;
$price-size: 1.5rem;
$logo-size: 2rem;
$headline-size: 2.5rem;
$slogan-size: 250px;
$slogan-size--big: 295px;
$text-weight: 400;
$logo-weight: 700;
$button-weight: 600;
$subtitle-weight: 500;

// SIZES

$button-height: 70px;
$gap--small: 8px;
$gap: 16px;
$gap--mid: 24px;
$gap--big: 32px;
$gap--large: 60px;
$card-size-min: 320px;
$card-size-max: 400px;

$animation: all 0.3s ease;
