// COLORS

$bg: #161717;
$bg-secondary: #252828;
$primary: #FFFFFF;
$accent: #FF9F45;
$secondary: #797788;

// FONTS

$landing-title-size: 250px;
$text-size: 1rem;
$price-size: 1.5rem;
$logo-size: 2rem;
$text-weight: 400;
$logo-weight: 700;
$button-weight: 600;
$subtitle-weight: 600;

// SIZES

$button-height: 70px;
$gap--small: 8px;
$gap: 16px;
$gap--mid: 24px;
$gap--big: 32px;
$gap--large: 60px;