@use '../../styles/variables.scss' as variables;

.card {
    background-color: variables.$bg--transparent;
    border-radius: variables.$gap;
    max-width: variables.$card-size-max;
    box-sizing: border-box;
    padding: variables.$gap;
    display: flex;
    flex-direction: column;
    gap: variables.$gap;
    transition: variables.$animation;

    &:hover {
        transform: scale(1.05);
    }

    &__title {
        color: variables.$primary;
        font-size: variables.$logo-size;
        font-weight: variables.$logo-weight;
    }

    &__image {
        max-width: 100%;
        border-radius: variables.$gap;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: variables.$gap--small;
        color: variables.$secondary;

        & > * {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .value {
            color: variables.$primary;
        }
        .value--price {
            font-size: variables.$price-size;
            font-weight: variables.$button-weight;
        }
    }

    &__price {
        margin-bottom: variables.$gap;
    }

    &__title {
        color: variables.$primary;
    }
}
